@{
    ViewBag.Title = "About";
}


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading" style="text-shadow:2px 2px 3px rgba(30,30,30,0.25)">My background</h2>
                <hr class="blue" />
                <p>While a student at UNC-Charlotte, a summer internship allowed me to explore database development using dBase III.</p>
                <p>This experience led to my subsequent employment at the Bryan School of Business & Economics at UNC-Greensboro, where I developed databases to handle the school's internal financial recordkeeping and billing.</p>
                <p>Several years later, I discovered Object Oriented programming through VBA in Excel. Eventually, however, my projects needed more power and flexibility than VBA allowed, and I began teaching myself VB.NET.</p>
                <p><span style="font-style:italic">Tab Printer</span>, my first VB.NET application, was used in production by the school's print shop for flexible, full-color, high speed printing of 3-ring binder index tabs.</p>
                <p>The success of <span style="font-style:italic">Tab Printer</span> led to the development of front-ends for several Microsoft Access databases.</p>
                <p>After leaving UNC-G, I spent time exploring computer graphics and animation before returning to programming. I enrolled at Guilford Technical Community College to bring my skills up-to-date, and to help 'fill-in' the gaps in my self-taught skillset.</p>
                <p>Coder Foundry is the next step in my growth as a developer.</p>
                <p>When not writing code, I enjoy reading, writing, and photography. Some of my pictures are shown below.</p>
            </div>
        </div>
    </div>


<!-- ****************************************************************************** -->
    @*<div class="p-0" id="portfolio2">*@
        <div class="container-fluid" style="width:80%">
            <div class="row no-gutter popup-gallery">
                <!-- Beach -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_0047.JPG">
                        <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_0047.JPG" alt="">
                    </a>
                </div>
                <!-- Sunrise -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_0059.JPG">
                        <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_0059.JPG" alt="">
                    </a>
                </div>
                <!-- Mushrooms in field -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_0469.JPG">
                        <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_0469.JPG" alt="">
                    </a>
                </div>
                <!-- Flower -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_1842.JPG">
                        <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_1842.JPG" alt="">
                    </a>
                </div>
                <!-- Hummingbird -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_1591.JPG">
                        <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_1591.JPG" alt="">
                    </a>
                </div>
                <!-- Dog -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_2216.JPG">
                        <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_2216.JPG" alt="">
                    </a>
                </div>

            </div>
        </div>
    @*</div>*@
<!-- ****************************************************************************** -->

    @*<div class="container-fluid">

        <div id="aboutCarousel" class="carousel slide" style="margin:0px 0px 20px 0px">

            <ol class="carousel-indicators">
                <li class="item1 active"></li>
                <li class="item2"></li>
                <li class="item3"></li>
                <li class="item4"></li>
                <li class="item5"></li>
                <li class="item6"></li>
                <li class="item7"></li>
                <li class="item8"></li>
            </ol>

            <div class="carousel-inner" role="listbox" style="border:4px double #009999">
                <div class="item active">
                    <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_0047.JPG" />
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_0059.JPG" />
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_0294.JPG" />
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_0469.JPG" />
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_0483.JPG" />
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_1591.JPG" />
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_1842.JPG" />
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_2216.JPG" />
                </div>
                <div class="item">
                        <img class="img-responsive center-block" src="~/Assets/img/portfolio/fullsize/IMG_2217.JPG" />
                    </div>

            </div>

             Left and right controls 
            <a class="left carousel-control" href="#aboutCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#aboutCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

    </div>*@

</section>


@section scripts{
    @*<script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000
            });

            // Enable Carousel Indicators
            $(".item1").click(function () {
                $("#aboutCarousel").carousel(0);
            });
            $(".item2").click(function () {
                $("#aboutCarousel").carousel(1);
            });
            $(".item3").click(function () {
                $("#aboutCarousel").carousel(2);
            });
            $(".item4").click(function () {
                $("#aboutCarousel").carousel(3);
            });
            $(".item5").click(function () {
                $("#aboutCarousel").carousel(4);
            });
            $(".item6").click(function () {
                $("#aboutCarousel").carousel(5);
            });
            $(".item7").click(function () {
                $("#aboutCarousel").carousel(6);
            });
            $(".item8").click(function () {
                $("#aboutCarousel").carousel(7);
            });
            //$(".item9").click(function () {
            //    $("#aboutCarousel").carousel(8);
            //});

            // Enable Carousel Controls
            $(".left").click(function () {
                $("#aboutCarousel").carousel("prev");
            });
            $(".right").click(function () {
                $("#aboutCarousel").carousel("next");
            });
        });
    </script>*@
}
