@{
    ViewBag.Title = "About";
}


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading" style="text-shadow:2px 2px 3px rgba(30,30,30,0.25)">My background</h2>
                <hr class="blue" />
                <p>While a student at UNC-Charlotte, a summer internship allowed me to explore database development using dBase III.</p>
                <p>This experience led to my subsequent employment at the Bryan School of Business & Economics at UNC-Greensboro, where I developed databases to handle the school's internal financial recordkeeping and billing.</p>
                <p>Several years later, I discovered Object-Oriented programming through VBA in Excel. Eventually, however, my projects needed more power and flexibility than VBA allowed, and I began teaching myself VB.NET.</p>
                <p><a href="@Url.Action("TabPrinter", "Home")" style="font-style:italic">Tab Printer</a>, my first VB.NET application, was used in production by the school's print shop for flexible, full-color, high speed printing of 3-ring binder index tabs.</p>
                <p>The success of <a href="@Url.Action("TabPrinter", "Home")" style="font-style:italic">Tab Printer</a> led to the development of front-ends for several Microsoft Access databases.</p>
                <p>After leaving UNC-Greensboro, I spent time exploring computer graphics and animation before returning to programming. I enrolled at Guilford Technical Community College to bring my skills up-to-date, and to help 'fill-in' the gaps in my self-taught skillset.</p>
                <p>Coder Foundry is the next step in my growth as a developer.</p>
                <p>When not writing code, I enjoy reading, writing, and photography. Some of my pictures are shown below.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="width:80%">
        <div class="row no-gutter popup-gallery">
            <!-- Beach -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_0047.JPG">
                    <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_0047.JPG" alt="">
                </a>
            </div>
            <!-- Sunrise -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_0059.JPG">
                    <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_0059.JPG" alt="">
                </a>
            </div>
            <!-- Mushrooms in field -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_0469.JPG">
                    <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_0469.JPG" alt="">
                </a>
            </div>
            <!-- Flower -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_1842.JPG">
                    <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_1842.JPG" alt="">
                </a>
            </div>
            <!-- Hummingbird -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_1591.JPG">
                    <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_1591.JPG" alt="">
                </a>
            </div>
            <!-- Dog -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="aboutPortfolio-box" href="~/Assets/img/portfolio/fullsize/IMG_2216.JPG">
                    <img class="img-fluid" src="~/Assets/img/portfolio/thumbnails/IMG_2216.JPG" alt="">
                </a>
            </div>

        </div>
    </div>

</section>