@{
    ViewBag.Title = "GTCC Capstone";
}


<!-- GTCC Capstone -->
<section id="GTCCCapstone">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">

                <h2 class="section-heading" style="text-shadow:2px 2px 3px rgba(30,30,30,0.25)">GTCC Programming Capstone course</h2>
                <hr class="blue" />

                <p>The Programming Capstone course is a semester-long, on-line course with minimal instructor involvement. This course is the last course taken before graduation.</p>
                <p style="margin-bottom:0px">The course is designed to replicate real-world business analysis and programming techniques, and begins with an introduction to a (fictitious) business, which includes interviews with key employees and samples of paper forms the business uses.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div style="padding:10px; border:2px solid #009999; background-color:rgba(0,153,153,0.05)">
                    <table id="capstoneTable" class="table-striped table-hover" style="width:100%">
                        <thead>
                            <tr><th></th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit1ProjectIntroduction.pdf">Capstone Project Introduction</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p style="margin-top:40px; margin-bottom:0px" >A SWOT (Strengths, Weaknesses, Opportunities, & Threats) analysis is performed to ensure the company's needs are understood. Next, database design is considered through the creation of an Entity Relationship Diagram (ERD).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div style="padding:10px; border:2px solid #009999; background-color:rgba(0,153,153,0.05)">
                    <table id="capstoneTable" class="table-striped table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th style="padding:6px !important">
                                    Instructions
                                </th>
                                <th style="padding:6px !important">
                                    Resulting Analysis
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit2RequirementsSWOTAnalysis.pdf">SWOT Analysis</a>
                                </td>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/DeliverableUnit2SWOTAnalysis.pdf">SWOT Analysis</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit3RequirementsERD.pdf">Entity Relationship Diagram</a>
                                </td>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/DeliverableUnit3ERD.pdf">Entity Relationship Diagram</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p style="margin-top:40px">Database creation narrows the class focus to four key business processes:</p>
                <ul style="list-style:none; margin-top:-16px; padding-left:0px">
                    <li>Customer Maintenance</li>
                    <li>Employee & Inventory Maintenance</li>
                    <li>Inventory & Sales Transactions</li>
                    <li>Reports</li>
                </ul>
                <p style="margin-bottom:0px">Application development and documentation proceeds through the remainder of the semester, with each of the key areas being developed. Microsoft Access 2016 and Visual Studio 2012 were used in the creation of the C# Winforms-based application.</p>
            </div>
        </div>



        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div style="padding:10px; border:2px solid #009999; background-color:rgba(0,153,153,0.05)">
                    <table id="capstoneTable" class="table-striped table-hover" style="width:100%">

                        <thead>
                            <tr>
                                <th style="padding:6px !important">
                                    Deliverable Instructions
                                </th>
                                <th style="padding:6px !important">
                                    Resulting Documentation
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit4RequirementsDatabase.pdf">Initial Database creation</a>
                                </td>
                                <td style="padding:6px !important">
                                    <span>-</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit5RequirementsDatabaseConnections.pdf">Application creation & Database connection</a>
                                </td>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/DeliverableUnit5DatabaseConnections.pdf">Database connection documentation</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit6RequirementsCustomers.pdf">Customer Maintenance</a>
                                </td>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/DeliverableUnit6Customers.pdf">Customer Maintenance documentation</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit7RequirementsEmployeesAndInventory.pdf">Employee and Inventory Maintenance</a>
                                </td>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/DeliverableUnit7EmployeesAndInventory.pdf">Employee and Inventory Maintenance documentation</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit8RequirementsTransactions.pdf">Inventory & Sales Transactions</a>
                                </td>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/DeliverableUnit8Transactions.pdf">Transactions documentation</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/Unit9RequirementsReports.pdf">Reports</a>
                                </td>
                                <td style="padding:6px !important">
                                    <a href="~/Assets/pdf/DeliverableUnit9Reports.pdf">Reports documentation</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div style="margin-top:10px">&nbsp;</div>
    <hr class="blue" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="@Url.Action("Portfolio","Home")" style="color:rgb(30, 80, 150)">Back to Portfolio</a>
            </div>
        </div>
    </div>
</section>