@{
    ViewBag.Title = "Home Page";
}


    <header class="masthead" style="margin-top:52px">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="focus-in-contract-bck" id="homeHeading">John Ritchie</h1>
                <h2>Full-Stack Developer</h2>
                <hr>
                <p>Welcome!</p>
            </div>
        </div>
    </header>
