@{
    ViewBag.Title = "Portfolio";
}

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="text-shadow:2px 2px 3px rgba(30,30,30,0.25)">Portfolio</h2>
                <hr class="blue">
            </div>
        </div>
    </div>
    
    <!-- Coder Foundry projects -->
    <div class="container">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <p style="text-align:center; color:rgb(30,80,150)">Work completed at Coder Foundry</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="portfolio-box">
                    <a href="@Url.Action("Index", "JsExercises")" data-toggle="popover" data-trigger="hover" data-placement="top" title="Tech used:" data-content="Javascript, HTML, CSS, Bootstrap">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Javascript Exercises</h3>
                        <p class="text-muted">Let these small gems catch your eye.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="portfolio-box">
                    <a href="http://jritchie-shopping.azurewebsites.net/" data-toggle="popover" data-trigger="hover" data-placement="top" title="Tech used:" data-content="MVC Design pattern. HTML, CSS, Bootstrap, jQuery, TinyMCE jQuery plugin, C#, SQL, LINQ">
                        <i class="fa fa-4x fa-shopping-cart text-primary sr-icons"></i>
                        <h3>Shopping App</h3>
                        <p class="text-muted">Psst! Wanna buy a watch?</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="portfolio-box">
                    <a href="http://jritchie-blog.azurewebsites.net/" data-toggle="popover" data-trigger="hover" data-placement="top" title="Tech used:" data-content="MVC Design pattern. HTML, CSS, Bootstrap, jQuery, TinyMCE jQuery plugin, C#, SQL, LINQ, Blog slugs, PagedList.MVC, SMTP, 3rd-party login APIs">
                        <i class="fa fa-4x fa-book text-primary sr-icons"></i>
                        <h3>Blog</h3>
                        <p class="text-muted">Life at Coder Foundry.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="portfolio-box">
                    <a href="http://jritchie-bugtracker.azurewebsites.net/" data-toggle="popover" data-trigger="hover" data-placement="top" title="Tech used:" data-content="MVC Design pattern. HTML, CSS, Bootstrap, jQuery, C#, SQL, LINQ">
                        <i class="fa fa-4x fa-bug text-primary sr-icons"></i>
                        <h3>Resolve()</h3>
                        <p class="text-muted">Issue Management Software</p>
                        <p>AKA "Bug Tracker"</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="portfolio-box">
                    <a href="#" data-toggle="popover" data-trigger="hover" data-placement="top" title="Tech used:" data-content="MVC Design pattern. HTML, CSS, Bootstrap, jQuery, C#, SQL, LINQ">
                        <i class="fa fa-4x fa-money text-primary sr-icons"></i>
                        <h3>Financial Portal</h3>
                        <p class="text-muted">Manage your finances.</p>
                        <p>Coming soon ...</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="portfolio-box">
                    <a href="#" data-toggle="popover" data-trigger="hover" data-placement="top" title="Tech used:" data-content="MVC Design pattern. HTML, CSS, Bootstrap, jQuery, C#, SQL, LINQ">
                        <i class="fa fa-4x fa-car text-primary sr-icons"></i>
                        <h3>Car Finder</h3>
                        <p class="text-muted">Find your next ride here.</p>
                        <p>Coming soon ...</p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Personal work -->
    <hr class="blue" style="margin-top:60px" />
    <div class="container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <p style="text-align:center; color:rgb(30,80,150)">Personal Work</p>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="portfolio-box">
                    <a href="@Url.Action("TabPrinter", "Home")" data-toggle="popover" data-trigger="hover" data-placement="top" title="Tech used:" data-content="VB.NET, WinForms, Microsoft Access">
                        <img src="~/Assets/img/portfolio/fullsize/TabPrinter.jpg" class="sr-icons" style="height:60%; border:2px solid #009999; padding:8px" />
                        <h3>Tab Printer</h3>
                        <p class="text-muted">Used in a production environment</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    

    <!-- GitHub -->
    <div style="margin-top:10px">&nbsp;</div>
    <hr class="blue" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="portfolio-box">
                    <a href="https://github.com/jwritchie/">
                        <i class="fa fa-4x fa-github text-primary sr-icons" style="color:black !important"></i>
                        <h3>GitHub</h3>
                        <p class="text-muted">Find my work on GitHub.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>


@section scripts{
<script>
        $('[data-toggle="popover"]').popover();
</script>
}