@{
    ViewBag.Title = "Resume";
}


<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="text-shadow:2px 2px 3px rgba(30,30,30,0.25)">Resume</h2>
                <hr class="blue">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2 style="color:#009999; padding-bottom:4px; border-bottom: 2px solid #009999">John W. Ritchie</h2>
                    <p>Pleasant Garden, NC | jritchie.nc@gmail.com</p>
                    <h3 style="color:#009999; text-decoration-line:underline">Objective</h3>
                    <p>Seeking a junior-developer Full-Stack position.</p>
                    <h3 style="color:#009999; text-decoration-line:underline">Education</h3>
                    <h4 style="font-weight:bold;">BOOTCAMP | ANTICIPATED FALL 2017 | CODER FOUNDRY</h4>
                    <ul>
                        <li>
                            .NET Full-Stack developer training
                        </li>
                        <li>
                            Related coursework: HTML, CSS, JavaScript, JQuery, Bootstrap, MVC, C#, Xamarin, SQL, LINQ, Git
                        </li>
                    </ul>
                    <h4 style="font-weight:bold;">ASSOCIATE IN APPLIED SCIENCE | 2017 | GUILFORD TECHNICAL COMMUNITY COLLEGE</h4>
                    <ul>
                        <li>
                            Major: Computer Programming – 4.0 GPA
                        </li>
                        <li>
                            Minor: Mobile Programming Certificate
                        </li>
                        <li>
                            Related coursework: Java, C++, Android, iOS, Python, VB.NET, SQL, Systems Analysis & Design
                        </li>
                    </ul>
                    <h4 style="font-weight:bold;">BACHELOR OF SCIENCE | 1990 | UNIVERSITY OF NORTH CAROLINA-CHARLOTTE</h4>
                    <ul>
                        <li>
                            Major: Geography
                        </li>
                        <li>
                            Minor: English
                        </li>
                    </ul>

                    <h3 style="color:#009999; text-decoration-line:underline">Experience</h3>
                    <h4 style="font-weight:bold">ADMINISTRATIVE SERVICES OFFICE, BRYAN SCHOOL OF BUSINESS & ECONOMICS, UNIVERSITY OF NORTH CAROLINA-GREENSBORO</h4>
                    <div class="row">
                        <div class="col-md-7">
                            <span style="font-weight:bold">WORKING TITLE: </span>ASSISTANT DIRECTOR OF ADMINISTRATIVE SERVICES
                        </div>
                        <div class="col-md-5">
                            2006 – 2010
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            &nbsp;&nbsp;&nbsp;&nbsp;ADMINISTRATIVE SUPPORT SPECIALIST - ADVANCED
                        </div>
                        <div class="col-md-5">
                            2007 – 2010
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            &nbsp;&nbsp;&nbsp;&nbsp;ACCOUNTING TECHNICIAN II
                        </div>
                        <div class="col-md-5">
                            1999
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            &nbsp;&nbsp;&nbsp;&nbsp;ACCOUNTING TECHNICIAN I
                        </div>
                        <div class="col-md-5">
                            1994
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            &nbsp;&nbsp;&nbsp;&nbsp;ACCOUNTING CLERK IV
                        </div>
                        <div class="col-md-5">
                            1994
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            &nbsp;&nbsp;&nbsp;&nbsp;ACCOUNTING CLERK III
                        </div>
                        <div class="col-md-5">
                            1991
                        </div>
                    </div>

                    <ul>
                        <li>
                            Created and maintained the School’s internal financial records system.
                            <ul>
                                <li>
                                    DOS databases / Quicken / Microsoft Excel, Access, Word / Adobe Acrobat / VBA & VB.NET.
                                </li>
                                <li>
                                    Database-driven record-keeping & billing for central supply room, print shop, mailroom, and other cost centers.
                                </li>
                                <li>
                                    VB.NET front-ends created for Access databases (print shop, Dean’s Office faculty-travel database).
                                </li>
                                <li>
                                    Custom financial tools built on top of Excel using VBA:
                                    <ul>
                                    <li>
                                        Timesheet generator for Staff and Student employee positions.
                                    </li>
                                    <li>
                                        Purchasing-card management system (integrated with the University’s Purchasing system).
                                    </li>
                                    <li>
                                        Real-time Year-end account balances & in-progress-transactions monitor.
                                    </li>
                                    </ul>
                                <li>
                                    Payroll management for Departmental/Federal Work-study student employees.
                                </li>
                                <li>
                                    Integrated the School’s system with the University’s financial systems. First developed to coordinate with FRS, revised & rebuilt when the University migrated to Banner ERP.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Office served 120 faculty & staff, 2550 business school students.
                        </li>
                    </ul>

                    <h3 style="color:#009999; text-decoration-line:underline">Honors / Awards</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <span style="font-weight:bold">GTCC</span>
                        </div>
                        <div class="col-md-10">
                            <ul style="list-style-type:none">
                                <li>
                                    President’s List: Spring 2015, Fall 2015, Spring 2016.
                                </li>
                                <li>
                                    Nominee – PHI THETA KAPPA National Honor Society: 2015 & 2016.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span style="font-weight:bold">BRYAN SCHOOL</span>
                        </div>
                        <div class="col-md-10">
                            <ul style="list-style-type:none">
                                <li>
                                    Staff Excellence Award selection committee chair: 2007 & 2008.
                                </li>
                                <li>
                                    Recipient – Staff Excellence Award: 2006.
                                </li>
                                <li>
                                    Recipient – Dean’s Service Award: 1998.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span style="font-weight:bold">UNC-CHARLOTTE</span>
                        </div>
                        <div class="col-md-10">
                            <ul style="list-style-type:none">
                                <li>
                                    Inducted into Golden Key National Honor Society: 1990
                                </li>
                                <li>
                                    Dean’s List: Spring 1990
                                </li>
                                <li>
                                    Chancellor’s List: Fall 1988, Fall 1989
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 style="color:#009999; text-decoration-line:underline">References</h3>
                    Available upon request.
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div>&nbsp;</div>
                <hr class="blue">
                <div class="resume-box" style="margin-top:0px">
                    <a href="@Url.Action("JRitchieResume", "Home", new { filename = "~/Assets/pdf/jritchieResume.pdf" })">
                        <i class="fa fa-4x fa-file-pdf-o text-primary sr-icons"></i>
                        <h3>John Ritchie</h3>
                        <h5>2017 Resume</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
