@{
    ViewBag.Title = "TabPrinter";
}


<!-- Tab Printer -->
<section id="tabprinter">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading" style="text-shadow:2px 2px 3px rgba(30,30,30,0.25)">Tab Printer</h2>
                <hr class="blue" />

                <p><span style="font-style:italic">Tab Printer</span>, my first VB.NET application, was written at home over the course of many evenings and weekends. It began as a simple test application to develop my skills, but evolved into a working app.</p>

                <img class="img-responsive" src="~/Assets/img/portfolio/fullsize/TabPrinterAbout.png" />
                <p style="margin-bottom:30px">Once complete, a copy of <span style="font-style:italic">Tab Printer</span> was given to UNCG's Bryan School of Business & Economics, where it was used in production by the print shop for flexible, full-color, high speed printing of 3-ring binder index tabs.</p>

                <img class="img-responsive" src="~/Assets/img/portfolio/fullsize/TabPrinterFontStyling.png" />
                <p style="margin-bottom:10px">The text on each index tab can be styled simultaneously, or adjusted individually as needed. A live print-preview allows users to see the text as it is entered and styled.</p>
                <p style="margin-bottom:30px">Shown here, the text on Tab 5 is being styled independently of the other tabs, whose styling has already been set.</p>
                
                <img class="img-responsive" src="~/Assets/img/portfolio/fullsize/TabPrinterPrintJobsManager.png" />
                <p style="margin-bottom:30px">The Print Jobs Manager includes a database allowing print jobs to be saved and recalled as needed. This feature is especially useful when clients realize they need additional copies of an already completed print job.</p>
                
                <img class="img-responsive" src="~/Assets/img/portfolio/fullsize/TabPrinterPropertiesManager.png" />
                <p>The Properties Manager allows the exact placement of printed text to be set for up to five different printers/copiers. Printing is handled by each individual machine's Windows print driver.</p>

            </div>
        </div>
    </div>

    <div style="margin-top:10px">&nbsp;</div>
    <hr class="blue" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="@Url.Action("Portfolio","Home")" style="color:rgb(30, 80, 150)">Back to Portfolio</a>
            </div>
        </div>
    </div>

</section>
